@model LoginViewModel

<h2>Login Form</h2>
@if (!string.IsNullOrWhiteSpace(ViewBag.Error))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}
<form asp-controller="Auth" asp-action="Login" method="post">

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email address</label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="error-text"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="error-text"></span>
    </div>
    <div class="mb-3">
        <label asp-for="RememberMe" class="form-label">Remember Me</label>
        <input asp-for="RememberMe">
    </div>
    <button type="submit" class="btn btn-primary me-3">Login</button>
    <a asp-action="Register" asp-controller="Auth" class="btn btn-success">Register</a>
   
    <a href="https://localhost:7154/login">
        <button type="submit">Submit to another page</button>
    </a>
</form>


