<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">

<partial name="_HeadPartial" />

<body id="top">

	<header>
		<partial name="_TopBarPartial" />
		@* 	<partial name="_HeaderPartial" /> *@

		@await Component.InvokeAsync("Navbar")

	
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<partial name="_FooterPartial" />
	<partial name="_ScriptsPartial" />

	@await RenderSectionAsync("Scripts", required: false)
	<script src="plugins/jquery/jquery.js"></script>
	<script src="plugins/bootstrap/bootstrap.min.js"></script>
	<script src="plugins/slick-carousel/slick/slick.min.js"></script>
	<script src="plugins/shuffle/shuffle.min.js"></script>

	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA"></script>
	<script src="plugins/google-map/gmap.js"></script>

	<script src="js/script.js"></script>

</body>
</html>
