@using Cms.Data.Models.Entities
@model DoctorEntity

@{
    Layout = "_Layout";
}

<style>
    /* Bu CSS kuralları sayfa içeriğini yatayda merkeze hizalar ve yazıları büyük yapar */
    .content-wrapper {
        margin-left: 260px; /* Sidebar genişliği ayarlayın */
        transition: margin-left 0.5s; /* Geçiş efekti ekleyin (isteğe bağlı) */
    }

    .sidebar {
        width: 260px; /* Sidebar genişliği ayarlayın */
        transition: width 0.5s; /* Geçiş efekti ekleyin (isteğe bağlı) */
    }

    .welcome-text {
        text-align: center; /* Metni yatayda merkeze hizala */
        margin: 50px auto 0; /* Sayfa içeriğini dikeyde 50px aşağıya kaydır */
        font-size: 24px; /* Yazı boyutunu büyütün */
    }

    .doctor-photo {
        max-width: 200px; /* Doktor fotoğrafının maksimum genişliği */
        border-radius: 50%; /* Fotoğrafı yuvarlak yapmak için */
        margin: 20px; /* Fotoğrafın etrafında biraz boşluk bırakın */
    }

    h1 {
        font-size: 36px; /* Başlık yazı boyutunu büyütün */
    }

    p {
        font-size: 18px; /* Paragraf yazı boyutunu büyütün */
    }
</style>

<div class="welcome-text">
    <img src="https://localhost:7188/api/file?fileName=@Model.ResimDosyaAdi" alt="Doktor Fotoğrafı" class="doctor-photo">
    <h1>Novena Hastanesi Doktor Paneli</h1>
    <p>Sağlıklı günler, @Model.Name @Model.Surname! Hoş geldiniz.</p>
</div>
<!-- Diğer sayfa içeriği buraya gelecek -->
