@model DepartmentViewModel

<div class="page-wrapper">
  
    <div class="content">
       
        <form asp-action="AddDepartments" asp-controller="Departments" method="post">
            @if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMessage))
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(ViewBag.Error))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Error
                </div>
            }
            <div class="form-group">
                <label for="Name">Name:</label>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label for="Description">Description:</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>

           

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="button-frame">
            <a asp-action="GetDepartments" asp-controller="Departments">
                <i class="fa fa-hospital-o"></i>
                <span>Back To Departments</span>
            </a>
        </div>
    </div>
</div>