
@model DoctorUpdateViewModel
<div class="page-wrapper">
    <div class="content">
        <form asp-action="UpdateDoctor" asp-controller="Doctor" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Id">Id:</label>
                <input asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label for="CategoryId">CategoryId:</label>
                <input asp-for="CategoryId" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Name">Name:</label>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label for="Surname">Surname:</label>
                <textarea asp-for="Surname" class="form-control"></textarea>
            </div>

            <div class="form-group">

                <label for="Address">Address:</label>
                <textarea asp-for="Address" class="form-control"></textarea>
            </div>
            <div class="form-group">

                <label for="Cv">Cv:</label>
                <textarea asp-for="Cv" class="form-control"></textarea>
            </div>
            <div class="form-group">

                <label for="Password">Password:</label>
                <textarea asp-for="Password" class="form-control"></textarea>
            </div>
            <div class="form-group">

                <label for="Phone">Phone:</label>
                <textarea asp-for="Phone" class="form-control"></textarea>
            </div>
            <div class="form-group">

                <label for="Email">Email:</label>
                <textarea asp-for="Email" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="ResimDosyaAdi" class="control-label"></label>
                <input asp-for="ResimDosyaAdi" type="file" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
            