@model PatientViewModel
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Edit Patient</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form asp-action="UpdatePatients" asp-controller="Patients" method="post">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Name">First Name <span class="text-danger">*</span></label>
                                <input asp-for="Name" class="form-control" >
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Name">Last Name</label>
                                <input asp-for="Surname" class="form-control" >
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Name">EMail <span class="text-danger">*</span></label>
                                <input asp-for="Email" class="form-control" >
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                     </div>
                </form>
            </div>
        </div>
    </div>
   