@model AppointmentEntity
<form class="appoinment-form" method="post" asp-controller="Appointment" asp-action="Index">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="DoctorCategoryId" class="form-label">Department</label>
                <select id="departmentList" name="DoctorCategoryId" class="form-control" asp-items="ViewBag.DepartmentId" onchange="loadDoctors()">
                    <option>Select Department</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class "form-group">
                <label asp-for="DoctorId" class="form-label">Doctor</label>
                <select id="doctorList" name="DoctorId" class="form-control">
                    <option value="-1">Select Doctor</option>
                </select>
            </div>
        </div>
    </div>

    <button class="btn btn-main btn-round-full" type="submit">Make Appointment<i class="icofont-simple-right ml-2"></i></button>
</form>

@section Scripts{
    <script type="text/javascript">
        function loadDoctors() {
            var departmentId = $("#departmentList").val();
            if (departmentId === "-1") {
                $("#doctorList").empty();
                $("#doctorList").append('<option value="-1">Select Doctor</option>');
            } else {
                $.ajax({
                    type: 'GET',
                    url: '/Appointment/LoadDoctor',
                    data: { categoryId: departmentId }, 
                    dataType: 'json',
                    success: function (doctors) {
                        $("#doctorList").empty();
                        $("#doctorList").append('<option value="-1">Select Doctor</option>');
                        $.each(doctors, function (i, doctor) {
                            $("#doctorList").append('<option value="' + doctor.value + '">' + doctor.text + '</option>');
                        });
                    },
                    error: function () {
                        alert('Something went wrong, and we do not know what exactly...');
                    }
                });
            }
        }
    </script>
}
